<html>
  <head>
    <title>OD project</title>
    <link rel="stylesheet" href="style.css">
    <script src="js/angular.min.js"></script>
    <script>
      angular.module('odIntegrator', [])
      .controller('SchemaEditor', ['$scope', function($scope) {
        $scope.schema = {
          'book': {
            'attributes': [
              {
                'name': 'title',
                'type': 'string'
              },
              {
                'name': 'author',
                'type': 'link'
              }
            ]
          },
          'author': {
            'attributes': [
              {
                'name': 'name',
                'type': 'string'
              },
              {
                'name': 'birthyear',
                'type': 'integer'
              }
            ]
          }
        };
        $scope.editEntity = function(a) {
          alert("Editing " + a);
        };
        $scope.createEntity = function() {
          alert("Creating " + $scope.newEntityName);
        };
      }]);
    </script>
  </head>
  <body ng-app="odIntegrator">
    <section class="container">
      <ul class="nav nav-pills">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#">Schema</a></li>
        <li><a href="#">Data</a></li>
        <li><a href="#">Recommendations</a></li>
        <li><a href="#">You</a></li>
      </ul>

      <h1>OD project</h1>
      <div>
        <p>
        This is the first page we have...<br/>
        From here we will build an awesome project.
        </p>
      </div>
      <h1>Schema</h1>
      <div ng-controller="SchemaEditor">
        <ul>
          <li ng-repeat="(eName, eDefinition) in schema">
          {{eName}} <a ng-click="editEntity(eName)">Edit</a>
            <ul>
              <li ng-repeat="attribute in eDefinition.attributes">
                {{attribute.name}} ({{attribute.type}})
              </li>
            </ul>
          </li>
        </ul>
        <form ng-submit="createEntity()">
          <input type="text" ng-model="newEntityName" placeholder="entity name"/>
          <button type="submit">Create new entity</button>
        </form>
      </div>
    </section>
  </body>
</html>
