<div ng-controller="SourceOverview">
  <div class="pull-right">
    <script type="text/ng-template" id="popover/sources-upload-form.html">
      <form role="form" name="sourcesImportForm">
        <div class="form-group">
          <label for="sourcesImportFile">File:</label>
          <input type="file" name="sourcesImport.file" id="sourcesImportFile" required>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox" ng-model="sourcesImport.replace"> Replace existing sources
          </label>
        </div>
        <button class="btn btn-primary btn-block" ng-click="sourcesImport.import()">Import</button>
      </form>
    </script>
    <button class="btn btn-default" ng-disabled="state != 'ready' || sourcesImport.working" bs-popover data-content-template="popover/sources-upload-form.html" data-placement="bottom" id="sourcesImportPopover">
      <span class="glyphicon glyphicon-cloud-upload" ng-show="!sourcesImport.working"></span>
      <span class="glyphicon glyphicon-refresh rotating" ng-show="sourcesImport.working"></span>
      Import
    </button>
    <a ng-href="{{downloadLink}}" class="btn btn-default" ng-click="updateDownloadLink()" target="_blank" ng-href ng-disabled="state != 'ready'">
      <span class="glyphicon glyphicon-cloud-download"></span>
      Export
    </a>
    <button class="btn btn-default" ng-click="reload()" ng-disabled="state == 'loading'">
      <span class="glyphicon glyphicon-refresh" ng-class="{rotating: state == 'loading'}"></span>
      Reload
    </button>
  </div>
  <h1>Data Sources</h1>
  <div class="alert alert-info" ng-show="state == 'loading'">
    Loading...
  </div>
  <div class="alert alert-warning" ng-show="state == 'error'">
    Unable to retrieve the list of sources from the server.<br>
    <a ng-click="reload()">Retry</a>
  </div>
  <div ng-show="state == 'ready'">
    <p class="input-group">
      <span class="input-group-addon"><span class="glyphicon glyphicon-filter"></span></span>
      <input type="text" ng-model="sourcesFilter" class="form-control" id="sourcesFilter" placeHolder="Filter">
    </p>
    <section class="panel panel-default fade-in-out" ng-repeat="source in filteredSources = (sources | filter:{name:sourcesFilter})" ng-class="{deleting: deleting[source._id]}">
      <div class="panel-heading">
        {{source.name}} (Id: {{source._id}})
        <div class="pull-right">
          <a href="/data/raw?sourceId={{source._id}}"><span class="glyphicon glyphicon-flash"></span> Query</a> |
          <a href="/sources/edit/{{source._id}}"><span class="glyphicon glyphicon-pencil"></span> Edit</a> |
          <a ng-click="deleteSource(source._id)"><span class="glyphicon glyphicon-trash"></span> Delete</a>
        </div>
      </div>
      <ul class="list-group">
        <li class="list-group-item"><strong>Adapter:</strong> {{source.adapter.name}}</li>
        <li class="list-group-item"><p><strong>Adapter configuration:</strong><span ng-show="source.adapter.config === undefined">empty</span></p>
          <pre ng-show="source.adapter.config !== undefined">{{source.adapter.config | json}}</pre>
        </li>
      </ul>
    </section>
    <section ng-show="filteredSources.length == 0" class="well fade-in-out">
      No sources found...
    </section>
  </div>
  <p>
    <a class="btn btn-primary btn-block" href="/sources/create">Add a new source</a>
  </p>
</div>

